<p-card header="LOGIN" [style]="{width: '360px'}" styleClass="ui-card-shadow">
  <p-header>
    <img src="Card" src="assets/images/logo.jpg">
  </p-header>
  <div>
    <span class="ui-float-label">
      <input id="user" type="text" size="30" pInputText>
      <label for="user">Username</label>
    </span>
    <br>
    <span class="ui-float-label">
      <input pPassword type="password" size="30">
      <label for="float-input">Password</label>
    </span>
  </div>
  <p-footer>
    <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em" (click)="onClick()"><i
        class="pi pi-check">Login</i></button> 
        <br>
        <a href="register">Register</a>
  </p-footer>
</p-card>